.btn {

    display: flex;
    justify-content: center;
    align-items: center;
    left: 60vw;
    top: 8vw;
    width: 6vw;
    font-size: 1.2vw;
    height: 6vw;
    background: #ff1d1d;
    border-radius: 42% 58% 70% 30% / 41% 41% 59% 59%;
    transition: 0.5s;
    box-shadow: inset 20px 19px 10px 20px rgba(190, 1, 254, 0.05), 2px 3px 10px 1px rgb(255 114 114 / 28%), 3px 3px 20px 0px rgb(255 200 200 / 23%), inset 20px -20px 15px 20px rgba(255, 255, 255, 0.05);
}

.btn:hover {
    border-radius: 50%;
}

/* .btn::before {
    content: " ";

    top: 8px;
    left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: white;
    opacity: 0.2;
} */

.btn-1 {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 70vw;
    top: 3vw;
    width: 8vw;
    height: 8vw;
    font-size: 1.2vw;
    background: #1d37ff;
    border-radius: 42% 58% 70% 30% / 41% 41% 59% 59%;
    transition: 0.5s;
    box-shadow: inset 20px 19px 10px 20px rgba(190, 1, 254, 0.05), 2px 3px 10px 1px rgb(114 125 255 / 28%), 3px 3px 20px 0px rgb(200 202 255 / 23%), inset 20px -20px 15px 20px rgba(255, 255, 255, 0.05);
}

.btn-1:hover {
    border-radius: 50%;
}

/* .btn-1::before {
    content: " ";
    position: absolute;
    top: 8px;
    left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: white;
    opacity: 0.2;
} */